@charset "utf-8";

.container {
    padding-top: 100px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    text-align: center;
    white-space: nowrap;
}


header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

.header-navlist {
    list-style: none;
    margin: 0;
    display: flex;
}

.header-navitem {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.header-navitem:first-child {
    margin-left: 0;
}

.header-nav {
    margin: 0 0 0 auto;
}


body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

.experiment-description {
    overflow-wrap: normal;
}

/*
section
*/
.section {
    padding: 30px, 15px;
}

.section.section-secoundly {
    padding: 0;
    background: #efefef;
    max-width: flex;
}

.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;

}


/*
header
*/



/*
about
*/
.about {
    margin: 0px;
    display: flex;

}

/* .about-image */
.about-caption {
    padding-left: 15px;
}

.about-headline {
    margin: 0 0 20px;
    font-size: 30px;

}

@media screen and (max-width: 768px) {
    .about {
        display: block;
    }

    .about-image {
        max-width: 100%;
    }

    .about-headline {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
}

/* .about-description */

/*
member
*/
.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item {
    list-style: none;
}

.grid-col-2>.grid-item {
    width: 50%;
}

.grid-col-3>.grid-item {
    width:33.3%
}

.member {
    text-align: center;
}

.member-name {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }

    .grid-col-2>.grid-item {
        width: 100%;
        margin: 20px;
    }
}