@charset "utf-8";

.container {
    padding-top: 100px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container {
        position: relative;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .image-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.container .image-wrapper h1 {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 65px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-shadow:2px 0 5px black;

}

@media screen and (max-width: 768px) {
    .container .image-wrapper h1 {
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 15px;
        top: 60%;
        left: 50%;
        text-shadow:2px 0 5px black;
        align-items: center;
        justify-content: center;
    }
    
}
.container img {
    width: 100%;
    /* color: rgba(255, 255, 255, 0.6); */
}

/* 
.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.7;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    font-size: 7vw;
    color: white;
    text-align: center;
    white-space: nowrap;
    margin:0;
    padding:0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}
@media screen and (max-width: 768px) {
.text {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    text-align: center;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}
} */

/* .header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
} */
/* 
h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}


.header-navlist {
    list-style: none;
    margin: 0;
    display: flex;
}

.header-navitem > a {
    margin: 0 0 0 15px;
    font-size: 14px;
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}

.header-navitem > a:hover {
    border-bottom: 2px solid #333;
}


.header-navitem:first-child {
    margin-left: 0;
}

.header-nav {
    margin: 0 0 0 auto;
    margin: 0 auto;
} */

.header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 9999;
    max-width: 100%;
    overflow-x: hidden;
    border-bottom: 1.5px solid #333;
}

.header-nav {
    margin: 0 auto;
}

.header-navlist {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* 追加 */
}

.header-navitem {
    flex: 0 0 auto;
    /* 追加 */
}

.header-navitem>a {
    margin: 0 0 0 15px;
    font-size: 14px;
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}

.header-navitem>a:hover {
    border-bottom: 2px solid #333;
}

.header-navitem:first-child {
    margin-left: 0;
}

@media (max-width: 768px) {
    .header {
        padding: 15px 4% 5px;
    }

    .header-navitem>a {
        font-size: 12px;
        padding: 5px;
    }

    .background-image {
        display: none;
    }
}


body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

.experiment-description {
    overflow-wrap: normal;
}

/*
section
*/
.section {
    padding: 30px, 15px;
}

.section.section-secoundly {
    padding: 0, 0, 0, 10px;
    background: #efefef;
    max-width: flex;
    margin: 5px 0 40px;
}

.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0 40px;
    margin-top: 100px;

}


/*
header
*/



/*
about
*/
.about {
    margin: 0px;
    display: flex;

}

/* .about-image */
.about-caption {
    padding-left: 15px;
}

.about-headline {
    margin: 0 0 20px;
    font-size: 30px;

}

@media screen and (max-width: 768px) {
    .about {
        display: block;
    }

    .about-image {
        max-width: 100%;
    }

    .about-headline {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
}

/* .about-description */

/*
member
*/
.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item {
    list-style: none;
}

.grid-col-2>.grid-item {
    width: 50%;
}

.grid-col-3>.grid-item {
    width: 33.3%
}

.member {
    text-align: center;
}

.member-name {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }

    .grid-col-2>.grid-item {
        width: 100%;
        /* margin: 20px; */
    }
}